pandas == 1.5.3
numpy == 1.23.5
pdfplumber == 0.8.0
cleantext[gpl] == 0.6.0
streamlit == 1.20.0
re == 2.2.1
nltk == 3.7
sentence_transformers == 2.2.2
torch == 2.0.0+cpu
skimage == 0.19.3
keybert == 0.7.0
